#header {
	background-color: #FAFFFF;
	position: fixed;
	width: 100%;
	box-shadow: 1px 1px 2px #888888;
}

#header-login {
	text-align: right;
	margin-right: 25px;
}

body {
	background: url("design/paper2.jpg");
	background-color: #FFF6E0;
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}

#body {
	padding-top: 125px;
}

#login-page {
	text-align: center;
}

#main-login {
	margin-right: 190px;
}

#card {
	text-align: center;
	padding: 0 60px 0px 60px;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-family: 'Oleo Script', cursive;
	color: #93131D;
	margin: 10px;
}

.character {
	font-size: 96px;
	color: #360047;
	background-color: #FAFFFF;
	height: 175px;
	width: 200px;
	margin: 30px auto;
	padding-top: 25px;
	box-shadow: 1px 1px 1px #888888;
}

.meaning {
	font-size: 36px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	color: #360047;
}

.description {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 60px 20px 60px;
	color: #4F0D00;
	max-width: 600px;
	margin: auto;
}

.prompt {
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	color: #360047;
	padding: 20px;
}

.next-button {
	font-size: 18px;
	font-family: 'Josefin+Sans', sans-serif;
	font-weight: 700;
	border-radius: 5px;
	height: 40px;
	width: 200px;
	background-color: #F7FFFF;
	color: #93131D;
	margin-bottom: 50px;
}

.answer input {
	font-size: 18px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	width: 200px;
	background-color: #FAFFFF;
	color: #360047;
}

.images img {
	max-width: 200px;
	max-height: 100%; 
	background-color: #FAFFFF;
	box-shadow: 1px 1px 1px #888888;
}

.images {
	padding: 10px 20px 10px 20px;
}



