#card {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-family: 'Oleo Script', cursive;
}

.character {
	font-size: 96px;
}

.meaning {
	font-size: 36px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.description {
	font-size: 24spx;
	font-family: 'Roboto Slab', serif;
	padding: 10px 60px 20px 60px;
}

.prompt {
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

#next-button {
	font-size: 18px;
	font-family: 'Josefin+Sans', sans-serif;
	font-weight: 700;
	border-radius: 15px;
	height: 40px;
	width: 200px;
	background-color: lightblue;
}

.answer input {
	font-size: 18px;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	width: 200px;
}

