ul {
	text-align: center;
}

h1 {
	text-align: center;
}

.character {
	font-size: 96px;
}

.meaning {
	font-size: 30px;
}

.description {
	font-size: 18px;
}

.prompt {
	font-size: 24px;
}

#next-button {
	font-size: 18px;
}

.answer input {
	font-size: 18px;
	text-align: center;
}

